
table {
  margin: 0;
  width: 100%;
  text-align: center;
  border-collapse: lowercase;
  border-radius: 5px;
}

th {
  background: #004884;
  border: 2px solid #004884;
  color: #FFFF;
  font: normal 500 16px "Montserrat", Sans-Serif;
  padding: 15px 10px;
  margin: 0;
  text-transform: none;
  text-align: center;
}

td {
  background: #FFFF;
  
  color: #4B4B4B;
  font: normal normal 16px "Work Sans", Sans-Serif;
  padding: 15px 10px;
  margin: 0;
  text-transform: none;
  text-align: center;
  border-collapse: lowercase;
  border-bottom: 2px solid #E6EFFD
}

.mostraDocumento {
  color: #3366CC;
  text-decoration: underline;
}

tr:hover td {
  background: #E6EFFD;
  color: #4B4B4B;
}
