.titulo-exp {
  font: normal normal bold 16px/24px Montserrat;
  color: var(--titulo-subtitulo);
  line-height: 20px;
}

.comentarios-footer {
  background-color: #F6F8F9;
  margin: 30px 0px 100px 0px !important;
  padding: 32px 0px 31px 0px;
  
}

.borde {
  border-left: 1px solid #004884;
  position: absolute;
  height: 125px;
  top: -31px;
}

.comentarios-footer button {
  top: 13px;
  position: relative;
  width: auto;
  background: none;
  font: normal normal 16px/25px "Work Sans", Sans-serif;
  padding-right: 40px;
  padding-left: 40px;
}

.comentarios-footer button:hover {
  color: #FFFF;
  background-color: #004884;
  border-color: #004884;
}

.calificaExpFooter{
  float: left;
  
  span {
    color: #3366CC;
    font: normal bold 16px/5px "Work Sans" ,sans-serif;
    padding: 0px 50px 0px 5px;
  }

  span:hover {
    color: #004884;
  }

  svg{
    path{
         fill: #3366CC;
        }
    
    path:hover{
      fill: #004884;
    }
  }
  
}

.calificacionfacil,
.calificaciondificil {
  cursor: pointer;  
  margin: 11px 20px 0px 0px;
  padding: 0;
}