i {
  margin: 0px 8px 0px 2px;
}

.inicio {
  color: #004884;
  font-size: 14px;
}


.barra span {
  font-size: 12px;
  color: var(--color-base-txt);
}

.barra {
  .instancia4-1 {
      border-top: 3px solid #3366CC;
      margin: 0px 0px 0px 0px;
      padding: 10px 0px 0px 0px;   
  }
  
  .instancia4-2, 
  .instancia4-3, 
  .instancia4-4  {
      border-top: 3px solid #3366CC;
      margin: 0px 0px 0px 0px;
      padding: 10px 0px 0px 0px;
  }
}

.barra {
  
  .txt-instancia4-1,
  .txt-instancia4-2,
  .txt-instancia4-3 {
      color: rgba(102, 102, 102, 0.589);
      margin: 0;
      padding: 0;
  }
  
  .txt-instancia4-4 {
      color: #3366CC;
      font-weight: 900;
  }
  
  .instancia4-uno, 
  .instancia4-dos,
  .instancia4-tres
  {
      background-color: rgba(102, 102, 102, 0.589);
      color: var(--color-base-white);
      border: 1px solid rgba(102, 102, 102, 0.589);
  }


  .instancia4-cuatro {
    background-color: #3366CC;
    color: var(--color-base-white);
    border: 1px solid #3366CC;
}
}

.barra i {
  font-family: "Montserrat", sans-serif;
  border-radius: 50%;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 12px;
  background: #fff;
  border: 1px solid #4B4B4B;
  color: #666;
  font-style: normal;
  text-align: left;   
}