.FooterGov {
    width: 100%;
    padding: 10px;
    background: #3366CC;
}

.logoco {
    height: 50px;
    vertical-align: middle;
    padding: 0px 10px 0px 0px;
}

.linea-blanca {
    border-right: 1px solid #E5EEFB;
    padding: 0px 1px 0px -25px;
}

.logogovfooter {
    height: 30px;
    vertical-align: middle;
    padding: 0px 0px 0px 10px;
    margin: 10px 0px 0px 0px;
}

.logos {
    display: flex;
    float:left;
}

.conoceGov {
    font-size: 16px;
    font-family: "Work Sans", sans-serif;
    color: #E5EEFB;
    padding: 0px 0px 0px 10px;
    line-height: 1.5;
}



  
