.boton-inicio {
    text-align: center;
    width: 120%;
}


.btn-inicio {
    background-color: #FFFF;
    border-radius: 30px;
    border: 2px solid #3366CC;
    color: #3366CC;
    font: normal 500 0.9375rem "Work Sans", sans-serif;
    margin: 0; 
    padding: 10px 15px 10px 15px;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
}

.btn-inicio:hover {
    background-color: #13386d;
    border-color: #13386d;
    color: #FFFF;
}