.navigation {
  --bs-breadcrumb-divider: '>';
  font-size: 14px;
  margin: 0;
  padding: 2px 0px 15px 0px;
}

.breadcrumb-item {
  color: #004884;
  font-size: 14px;
  font-weight: bold;
}

.inicion {
  font: normal normal 14px/5px "Works Sans", Sans-serif;
  color: #004884;
  padding: auto;
  line-height: 1.5;

  
}

.inicion:hover {
  color: #004884;
    text-decoration: underline;
}

.pagina {
  font: normal normal 14px/5px "Works Sans", Sans-serif;
  color: #004884;
  line-height: 1.5;
}

.pagina:hover {
  color: #004884;
    text-decoration: underline;
}

.paginaActual {
  font:  normal 550 14px/5px "Works Sans", Sans-serif;
  color: #004884;
  line-height: 1.5;
}

.paginaActual:hover {
  color: #004884;
}