input[type="text"],
input[type="email"],
textarea {
    border: thin solid #dedede;
    border-radius: 0.25rem;
    padding: 0.75rem;
    margin-bottom: 1rem;
    outline: none;
    display: block;
    width: 100%;
    font-size: 1rem;
    line-height: 1;
    background-color: transparent;
}

textarea {
    font-family: inherit;
    resize: none;
}

button,
input[type="submit"],
input[type="reset"]{
    border: thin solid #444;
    border-radius: 0.25rem;
    width: 25%;
    justify-content: center;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  