.navbar {
    width: 100%;
    padding: 4px;
    background: #3366CC;
}

.logogov {
    height: 20px;
    vertical-align: middle;
}

.nav {
    margin: 50px 0px 0px 0px;
    padding: 20px 0px 0px 0px;
}