.navbar {
    background: #3366CC;
    height: 60px;
    padding: 4px;
    width: 100%;
}

.logogov {
    height: 1.875rem;
    vertical-align: middle;
}

.nav {
    margin: 50px 0px 0px 0px;
    padding: 20px 0px 0px 0px;
}