footer {
  color: var(--txt-corridos-captions);
  font-size: 14px;
  background-color: #E62954;
  padding: 5px 0px 1px 0px;
  line-height: 10px;
}
  
  
.footer-info {
  border: 1px solid #E5EEFB;
  border-radius: 10px;
  box-shadow: 0px 0px 3px 1px #d3cccc;
  background-color: var(--color-base-white);
  padding: 73px 0px 2px 50px;
  position: relative;
  margin: -50px 0px 30px 0px;
}

.redesSociales {
  margin: 30px 0px 30px 0px;
  padding: 2px;
  display: flex;
  float:left;
  list-style-type: none;
  font-size: 25px;
}

.img-crc-footer {
  height: 100px;
  width: 200px;
  vertical-align: middle;
  padding: 0;
  margin: 0px 0px 0px -100px;
} 

.footer-datos {
  display: flex;
  float:left;
  padding: 13px 60px 0px 10px;
  margin: 430px 0px 0px -140px;
  font-size: 5px;
  line-height: 0.2;
}

.footer-info-datos {
  align-items: center;
  text-align: center;
  vertical-align: middle;
  padding: 2px 2px 2px 2px;
  margin: 2px 2px 2px 2px;
}

footer {
    h2 {
      color: #004884;
      margin: -65px 0px 20px 0px;
      font-size: 30px;
    }
    p {
      font: 15px Montserrat, sans-serif;
      line-height: 5px;
    }
    a {
      font: 15px Montserrat, sans-serif;
      line-height: 5px;
    }
    a:link, a:visited, a:active {
      color: var(--titulo-subtitulo);
    }
    a:link:hover, a:visited:hover, a:active:hover {
      text-decoration: underline;
    }
    span {
      color: var(--titulo-subtitulo);
      text-decoration: underline;    
    }
    svg {
      fill: var(--titulo-subtitulo);
      margin: 0px 5px 0px 0px;
    }
}

.fa_text {
  margin: 0px 15px 0px 0px !important;
}

.imgAsistente {
  width: 30px;
  height: 30px;
}

.asistenteTxt {
  display: flex;
  float: left;
  font-size: 12px;
  margin: -45px 0px 0px 32px;
  padding: 20px 0px 0px 0px;
}



  

  

  

  
  