select:invalid { 
    color: gray;
}


.titulo-indicativo {
    padding: 2px;
}

h2 {
    color: #004884;
    font: 18px Montserrat;
    margin: 0px 0px 8px;
}

h3 {
    color: #004884;
    font: 24px Montserrat, sans-serif;
    margin: 0px 0px 8px;
    padding: 0px 0px 4px;
}

.title-form {
    padding: 0px 0px 0px 0px;
    margin: 20px 0px 0px -10px;
    font: normal 500 24px "Montserrat", sans-serif;
}

.txt-form{
    padding: 2px 0px 0px 0px;
    margin: 20px 0px 0px 0px;
}

.form-control-tac {
    display: flex;
    width: 100%;
    padding: 2px;
    margin: 0px 0px 2px 0px;
    text-align: center; 
}

.subtitle-form {
    padding: 0px 0px 0px 0px;
    margin: 25px 0px 10px 0px;
    font-size: 18px;
}

.txt-obliga {
    font-size: 14px;
    color: var(--color-base-txt);
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.button-tac {
    width: 128px;
    color: var(--color-base-white);
    background-color: var(--color-base-blue);
    padding: 0px 0px 0px 0px;
    margin: 20px 0px 20px 15px;
}

.btn-middle {
    cursor: pointer;
    font-size: 15px;
    margin: 0;
    width: 100%;
    padding: 11px 0px 11px 0px;
    color: #3366CC;
    border: 2px solid #3366CC;
    background-color: white;
    border-radius: 30px;
    
}

.form-juridica {
    visibility: hidden;
}

.upload-file {
    /*
    cursor: inherit;
    display: block;
    font-size: 999px;
    filter: alpha(opacity = 0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
    */
    cursor: pointer;
    overflow: hidden;
    position: relative;
    padding: 38px;
    box-sizing: border-box;
}

.btn-file {
    position: relative;
    overflow: hidden;
  }
  .btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
  }

.button-carga {
  background-color: #fff;
  color: #3366CC;
  border: 2px solid #3366CC;
  border-radius: 30px;
  font: normal 600 12px/2.5 Work Sans, sans-serif;
  margin: 5px 0px 5px 0px;
  padding: 10px 20px 10px 20px;
  text-transform: uppercase;
  white-space: pre-line;
  width: 20%;
}
  
.button-carga:hover {
    background-color: var(--titulo-subtitulo);
    color: #FFF;
}

.button-carga-principal {
    background-color: #3366CC;
    color: #FFFF;
    border: 2px solid #3366CC;
    border-radius: 30px;
    font: normal 600 12px/2.5 Work Sans, sans-serif;
    margin: 5px 0px 5px 0px;
    padding: 10px 20px 10px 20px;
    text-transform: uppercase;
    white-space: pre-line;
    width: 20%;
}

.button-carga-principal:hover {
    background-color: var(--titulo-subtitulo);
    border: 2px solid var(--titulo-subtitulo);
}

.bold-blue {
	font-weight: bold;
	color: #0277BD;
}

/* Estilos tabla */

.tabla {
    border: #E6EFFD solid 2px;
    border-radius: 5px;
    background-color: #ffff;
    margin: 0;
    padding: 0;
  }
  
table,
th,
td {
    border-collapse:collapse;
    color: #4B4B4B;
    margin: 0;
    padding: 15px 0px 5px 16px;   
    text-align: left;
    font: normal 200 12px/10px Work Sans;
    text-transform: uppercase;
}
  
  .titulo-tableta {
    background-color: #E6EFFD;
    border-spacing: 10px;
    color: #004884;
    font: normal bold 12px/10px Montserrat;
    margin: 0;
    padding: 18px;
    text-align: left;
    text-transform: none;
  }
  
  .titulo-tabla {
    font: normal 600 18px/10px "Montserrat", sans-serif;
    color: #13386D;
    padding: 0;
    margin: 15px;
  }


.aceptacionFormulario {
    color: #3366CC;
    text-decoration-line: underline;
    margin: 5px;
    padding: 0;
}

.contenido-verificacion {
    justify-content: center;
}

.link-modal {
    color:#0277BD;
}

.titulo-verificacion {
    margin: 0;
    text-align: center;
}

.recaptcha-formulario {
    text-align: center;
}

.boton-registro {
    display: flex;
    margin: -30px 0px 0px 0px;
    justify-content: center;
}

.txt-terminos {
    display: flex;
    justify-content: center;
    cursor: pointer;
    text-align: center;
    color: red;
}

.check-terminos {
    margin: 10px 0px 0px 0px;
}